body {
    background-color: beige;
    font-size: 1em;
}

img {
    width: 100%;
    border-radius: 10px; 
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.intro {
    font-weight: bold;
}

p {
    font-size: smaller;
}

a {
    font-stretch: extra-expanded;
}
